.table {
  height: 50vh;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header {
    &__row {
      display: flex;
      font-weight: bold;
      padding: 0px 32px;
    }

    height: 5vh;
    text-transform: capitalize;
    flex: 1;
  }

  &__body {
    background-color: #ebebeb;
    border-radius: 16px;
    padding: 8px 16px;
    height: 40vh;
    gap: 8px;
    box-shadow: inset 8px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow:auto;
  }

  &__row {
    &__container {
      flex-direction: column;
    }
    padding: 0px 16px;
    display: flex;
    gap: 8px;
    flex-direction: row;
  }

  &__cell {
    color: #3d3d3d;
    flex: 1;
  }

  &__divider {
    height: 4px;
    width: 100%;
    background-color: #3d3d3d;
    border-radius: 4px;

    box-shadow: inset 8px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__empty {
    background-color: #ebebeb;
    color: #3d3d3d;
    border-radius: 16px;
    margin: 5vh 0vh 0vh 0vh;
    height: 40vh;
    box-shadow: inset 8px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
