@import "src/styles/colors.scss";

.country-table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 32px 16px 32px;
  background-color: $secondary-color;
  box-shadow: inset 8px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  width: 50vw;
  height: 60vh;

  &__query {
    display: flex;
    padding: 0 32px;
    flex-direction: row;
    gap: 16px;
    white-space: nowrap;

    &__icon{
        color: $secondary-color;
        position: relative;
        left: 72px;
        top: 20px;
        width: 32px;
        height: 32px;
    }

    &__filter {
      background-color: $primary-color;
      border-radius: 32px;
      box-shadow: inset 8px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 16px 8px 16px 72px;
      height: fit-content;
      width: 100%;
      color: $secondary-color;
      font-family: "Poppins", sans-serif;
      line-height: 1.5;
      font-weight: 700;
      font-size: 24px;
      outline: none;
    }
  }

  &__loading, &__error{
    height: 50vh;
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 16px;
    padding: 16px;
    gap: 8px;
    box-shadow: inset 8px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__pagination{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding: 0px 16px;
  }
}
