@use "./components/Table/styles/table.scss";
@use "./components/CountryTable/styles/countryTable.scss";
@use "./styles/page.scss";

@import "./styles/colors.scss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 700;
  font-size: 24px;

  color-scheme: light dark;
  color: $primary-color;
  background-color: $bg-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.disabled{
  opacity: 25%;
}